*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: white;
}

.cabecalho{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 17vh;
	background-color: #6BAE66;
	font-family: "Alata", serif;
  	font-style: normal;
	color: white;
	font-size: 40px;
	h5{
		margin: 30px;
	}
	img{
		margin: 20px;
	}
}

h1, a:hover{
	color: #9FFF96;
}

.cabecalho2{	
	width: 100%;
	height: 5vh;
	background-color: #399232;
	display: flex;
	justify-content: space-between;
	color: white;
	font-family: "Alata", serif;
  	font-style: normal;
  	h1{
		margin-right: 20vh;
		margin-left: 20vh;
	}
}

.pag{
	color: #9FFF96;
}

.projeto{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.proj{
	margin-top: 2vh;
	width: 50%;
	height: 25vh;
	background-color: #B7D8B5;
	text-align: center;
}

h2{
	margin-top: 2vh;
	font-family: "Alata", serif;
  	font-style: normal;
  	font-size: 40px;
	text-align: center;
}

h3{
	margin-top: 2vh;
	font-family: "Alata", serif;
  	font-style: normal;
  	font-size: 35px;
	color: #2B7C25;
}

p{
	margin-top: 2vh;
	margin-left: 2vh;
	margin-right: 2vh;
	font-family: "Inter", serif;
	font-style: normal;
	font-size: 30px;
}

.sobredis{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-top: 2vh;
}

.parte1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.parte2{
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
}

.port, .pdw, .front, .mat{
	background-color: #B7D8B5;
	width: 25%;
	height: 40vh;
	margin-right: 5vh;
}

.blocao2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10vh;
	text-align: center;
}

.tabela{
	background-color: #B7D8B5;
	width: 25%;
	height: 50vh;
	margin-left: 5vh;
	margin-right: 5vh;
	img{
		width: 100%;
	}
}

.orca{
	background-color: #B7D8B5;
	width: 28%;
	height: 100vh;
	margin-right: 5vh;
}

.saibaey{
	background-color: #B7D8B5;
	width: 35%;
	height: 30vh;
	margin-right: 5vh;
	h3{
		text-align: left;
		margin-left: 2vh;
	}
	p{
		text-align: left;
	}
}

iframe{
	margin-top: 12vh;
}

.rodape{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 20vh;
	background-color: #6BAE66;
	font-size: 20px;
	font-family: "Alata", serif;
  	font-style: normal;
	margin-top: 10vh;
  	h4{
		margin: 30px;
		font-size: 30px;
	}
}

@media (max-width: 600px){
	.cabecalho{
		width: 110%;
		height: auto;
		img{
			width: 164px;
			height: 51px;
		}
	}

	.cabecalho2{
		width: 110%;
		height: auto;
		h1{
			font-size: 24px;
			margin-left: 30px;
			margin-right: 10px;
		}
	}

	.sabia{
		display: none;
	}

	p{
		font-size: 15px;
	}

	.proj{
		width: 380px;
		height: 180px;
	}

	.sobredis{
		flex-wrap: wrap;
	}

	.parte1{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.parte2{
		display: flex;
		flex-direction: row;
		margin-top: 5vh;
	}

	.mat{
		margin-left: 10px;
		width: 180px;
		height: 280px;
	}

	.port, .pdw, .front, .mat{
		width: 180px;
		height: 280px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.blocao2{
		flex-wrap: wrap;
		margin-left: 10px;
		margin-right: 10px;
		align-items: center;
	}

	.orca{
		width: 380px;
		height: 450px;
		margin-top: 10px;
	}

	.tabela{
		width: 350px;
		height: 480px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		img{
			width: 350px;
			height: 480px;
		}
	}

	.saiba, .saibaey{
		width: 380px;
		height: 170px;
	}

	.saibaey{
		margin-top: 5vh;
	}

	iframe{
		width: 380px;
		height: 189px;
		margin-top: 20px;
	}

	h2{
		font-size: 32px;
		margin-left: 12vh;
	}

	h3{
		font-size: 22px;
	}

	h5{
		font-size: 22px;
	}

	.rodape{
		margin-top: 30vh;
		width: 110%;
		height: 120px;
		h4{
			margin: 30px;
			font-size: 20px;
			margin-top: 15px;
		}
	}
}